In [4]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [5]:
books=pd.read_csv("../Dataset/Books.csv")
books.head()

C:\Users\HP\AppData\Local\Temp\ipykernel_14784\1027642536.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books=pd.read_csv("../Dataset/Books.csv")

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [6]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [7]:
ratings=pd.read_csv("../Dataset/Ratings.csv")
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [8]:
ratings.columns

Index(['User-ID', 'ISBN', 'Book-Rating'], dtype='object')

In [9]:
users=pd.read_csv("../Dataset/Users.csv")
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [10]:
users.columns

Index(['User-ID', 'Location', 'Age'], dtype='object')

In [13]:
print(f"books :{books.shape}")
print(f"ratings :{ratings.shape}")
print(f"users :{users.shape}")

books :(271360, 8)
ratings :(1149780, 3)
users :(278858, 3)

In [ ]:
print(books.value_counts())

ISBN        Book-Title                                                      Book-Author                    Year-Of-Publication  Publisher                 Image-URL-S                                                   Image-URL-M                                                   Image-URL-L
B0002K6K8O  The Underground City                                            Jules Verne                    0                    Digireads.com             http://images.amazon.com/images/P/B0002K6K8O.01.THUMBZZZ.jpg  http://images.amazon.com/images/P/B0002K6K8O.01.MZZZZZZZ.jpg  http://images.amazon.com/images/P/B0002K6K8O.01.LZZZZZZZ.jpg    1
0000913154  The Way Things Work: An Illustrated Encyclopedia of Technology  C. van Amerongen (translator)  1967                 Simon &amp; Schuster      http://images.amazon.com/images/P/0000913154.01.THUMBZZZ.jpg  http://images.amazon.com/images/P/0000913154.01.MZZZZZZZ.jpg  http://images.amazon.com/images/P/0000913154.01.LZZZZZZZ.jpg    1
0001010565  Mog's Christmas                                                 Judith Kerr                    1992                 Collins                   http://images.amazon.com/images/P/0001010565.01.THUMBZZZ.jpg  http://images.amazon.com/images/P/0001010565.01.MZZZZZZZ.jpg  http://images.amazon.com/images/P/0001010565.01.LZZZZZZZ.jpg    1
0001046438  Liar                                                            Stephen Fry                    0                    Harpercollins Uk          http://images.amazon.com/images/P/0001046438.01.THUMBZZZ.jpg  http://images.amazon.com/images/P/0001046438.01.MZZZZZZZ.jpg  http://images.amazon.com/images/P/0001046438.01.LZZZZZZZ.jpg    1
0001046713  Twopence to Cross the Mersey                                    Helen Forrester                1992                 HarperCollins Publishers  http://images.amazon.com/images/P/0001046713.01.THUMBZZZ.jpg  http://images.amazon.com/images/P/0001046713.01.MZZZZZZZ.jpg  http://images.amazon.com/images/P/0001046713.01.LZZZZZZZ.jpg    1
                                                                                                                                                                                                                                                                                                                                                     ..
0001382608  On the Road                                                     Huck Scarry                    1981                 HarperCollins Publishers  http://images.amazon.com/images/P/0001382608.01.THUMBZZZ.jpg  http://images.amazon.com/images/P/0001382608.01.MZZZZZZZ.jpg  http://images.amazon.com/images/P/0001382608.01.LZZZZZZZ.jpg    1
000160418X  The Clue in the Crumbling Wall                                  Carolyn Keene                  1984                 HarperCollins Publishers  http://images.amazon.com/images/P/000160418X.01.THUMBZZZ.jpg  http://images.amazon.com/images/P/000160418X.01.MZZZZZZZ.jpg  http://images.amazon.com/images/P/000160418X.01.LZZZZZZZ.jpg    1
0001711105  The Book of Riddles (Beginner Books)                            Bennett Cerf                   1983                 HarperCollins Publishers  http://images.amazon.com/images/P/0001711105.01.THUMBZZZ.jpg  http://images.amazon.com/images/P/0001711105.01.MZZZZZZZ.jpg  http://images.amazon.com/images/P/0001711105.01.LZZZZZZZ.jpg    1
0001711253  The Big Honey Hunt                                              Stan Berenstein                1942                 HarperCollins Publishers  http://images.amazon.com/images/P/0001711253.01.THUMBZZZ.jpg  http://images.amazon.com/images/P/0001711253.01.MZZZZZZZ.jpg  http://images.amazon.com/images/P/0001711253.01.LZZZZZZZ.jpg    1
000171421X  It's Not Easy Being a Bunny (A Beginner Book)                   Marilyn Sadler                 1984                 HarperCollins Publishers  http://images.amazon.com/images/P/000171421X.01.THUMBZZZ.jpg  http://images.amazon.com/images/P/000171421X.01.MZZZZZZZ.jpg  http://images.amazon.com/images/P/000171421X.01.LZZZZZZZ.jpg    1
Name: count, Length: 271353, dtype: int64

In [ ]:
print(books.isna().sum() )

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [16]:
ratings.isna().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [17]:
users.isna().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [18]:
users=users.drop(columns='Age')